body {
	text-align: center;
}

.preview-wrap {
	width: 100%;
	text-align: center;
}
#preview {
	margin: 0 auto;
	width: 200px;
	height: 150px;
	border: 1px solid black;
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;
}

.preview-text {
	display: inline-block;
	padding-top: 69px;
}
.container {
	margin-top: 5rem;
}

.css-display {
	margin-top: 5rem;
}

#copyCss {
	margin-top: 2rem;
}
